.about {
  color: $color-white;
  padding: 0 0 30rem 0;
  font-size: 2rem;
  font-family: "Saira", sans-serif;
  position: relative;
  overflow: hidden;
  .start,
  .end,
  .middle {
    position: fixed;
    display: flex;
    align-items: center;
    font-size: 16px;
    width: 0.7rem;
    height: 0.7rem;
    background-color: $color-white;
    border-radius: 50%;
    box-shadow: 0 0 3px 3px $color-green-light;
    left: 0.74rem;

    span {
      color: white;
      text-decoration: none;
      margin-left: 1.5rem;
      font-size: 1.4rem;
    }
  }
  .start {
    top: 10%;
  }
  .middle {
    top: 17.5%;
  }
  .end {
    bottom: 10%;
  }
  .progress-bar {
    position: fixed;
    top: 10.8%;
    left: 1rem;
    bottom: 10.8%;
    width: 1px;
    background: $color-green-light;
    transform-origin: 0% 0%;
  }
  &__container {
    width: 82%;
    margin: 0 auto;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, max-content));
  }
  &__left {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-family: mainFont;
    font-size: 13rem;
    letter-spacing: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
    margin-top: 2rem;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .scewed-tag {
      font-size: 25rem;
      font-weight: 700;
      color: $color-green-matt;
      font-weight: 700;
      letter-spacing: 3px;
      transform: rotate(-52deg) skew(20deg, 7deg);
      display: inline-block;
      opacity: 0.6;
      z-index: 0;
      position: absolute;
    }
    .outer-circle {
      width: 22rem;
      height: 22rem;
      border: 1px solid $color-white;
      border-radius: 50%;
      background: none;
      position: relative;
      cursor: pointer;

      .inner-circle {
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        width: 0;
        height: 0;
        border-radius: 50%;
        position: absolute;
        z-index: 10;
        transition: all 0.5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      }
      &:hover .inner-circle {
        width: 100%;
        height: 100%;
        background-color: $color-green-light-2;
      }
      &:hover .green-text.z-top {
        color: $color-white;
      }
      .circle1 {
        position: absolute;
        width: calc(100% + 10rem);
        height: calc(100% + 10rem);
        border: 1px solid $color-white;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
        border-radius: 50%;
        left: -5rem;
        top: -5rem;
        animation-name: rotating-circles-one;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        &::before {
          content: "";
          position: absolute;
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
          background-color: $color-white;
          left: 4.5rem;
          top: 26.8rem;
        }
        &::after {
          content: "";
          position: absolute;
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
          background-color: $color-white;
          left: 4.5rem;
          top: 3.8rem;
        }
      }
      .circle2 {
        position: absolute;
        width: calc(100% + 7rem);
        height: calc(100% + 7rem);
        border: 1px solid $color-white;
        border-top-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-radius: 50%;
        left: -3.5rem;
        top: -3.5rem;
        animation-name: rotating-circles-one;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        &::before {
          content: "";
          position: absolute;
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
          background-color: $color-white;
          left: 23.5rem;
          top: 3.2rem;
        }
        &::after {
          content: "";
          position: absolute;
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
          background-color: $color-white;
          left: 24.3rem;
          top: 23.5rem;
        }
      }
      .circle3 {
        animation-name: rotating-circles-one;
        animation-duration: 7s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        position: absolute;
        width: calc(100% + 4rem);
        height: calc(100% + 4rem);
        border: 1px solid $color-white;
        border-top-color: transparent;
        border-right-color: transparent;
        border-radius: 50%;
        left: -2rem;
        top: -2rem;
        &::before {
          content: "";
          position: absolute;
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
          background-color: $color-white;
          left: 21.4rem;
          top: 21rem;
        }
        &::after {
          content: "";
          position: absolute;
          width: 1.2rem;
          height: 1.2rem;
          border-radius: 50%;
          background-color: $color-white;
          left: 3.3rem;
          top: 3rem;
        }
      }
    }
  }
}

.tags {
  font-family: "Saira", sans-serif;
  color: $color-gray;
  letter-spacing: 1.5px;
  font-size: 2rem;
  font-weight: 300;
}
@media screen and (max-width: 1024px) {
  .about {
    .start,
    .end,
    .middle,
    .progress-bar {
      display: none;
    }
  }
}
@media screen and (max-width: 900px) {
  .about {
    padding: 0 0 15rem 0;
    .curvy-line {
      display: none;
    }
    &__name {
      font-size: 10rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    &__container {
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    &__name {
      font-size: 14rem;
    }
    &__right {
      margin-top: 5rem;
      .scewed-tag {
        font-size: 34rem;
      }
    }
  }
}
@media screen and (max-width: 524px) {
  .about {
    &__container {
      width: 92%;
    }
    &__name {
      font-size: 10rem;
    }
  }
}
@media screen and (max-width: 424px) {
  .about {
    &__name {
      font-size: 6rem;
    }
    &__right {
      .scewed-tag {
        font-size: 22rem;
      }
    }
  }
}
