button {
  padding: 1rem 2.1rem;
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: $color-green-light;
  font-size: 2.2rem;
  cursor: pointer;
  background-color: $color-main-bg;
  font-family: "Saira", sans-serif;
  letter-spacing: 1px;
}

button {
  &:before,
  &:after {
    display: block;
    content: "";
    position: absolute;
    background: $color-green-light;
    z-index: -1;
  }
}

.button--one {
  &:before {
    top: -0.1rem;
    bottom: 100%;
    left: 50%;
    right: 50%;
    transition: bottom 0.3s 0s, left 0.5s 0.3s, right 0.5s 0.3s;
  }
  &:after {
    top: 100%;
    bottom: -0.1rem;
    left: 50%;
    right: 50%;
    transition: top 0.3s 0s, left 0.5s 0.3s, right 0.5s 0.3s;
  }
  &:hover {
    &:before {
      top: -0.1rem;
      bottom: 50%;
      left: -0.1rem;
      right: -0.1rem;
      transition: left 0.5s 0s, right 0.5s 0s, bottom 0.3s 0.5s;
    }
    &:after {
      top: 50%;
      bottom: -0.1rem;
      left: -0.1rem;
      right: -0.1rem;
      transition: left 0.5s 0s, right 0.5s 0s, top 0.3s 0.5s;
    }
  }
}

.go-to-btn {
  display: inline-block;
  margin-top: 4rem;
  width: 100%;
  color: $color-white;
  font-size: 3rem;
  font-family: "Saira", sans-serif;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 19rem;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $color-white;
  }
  &:hover {
    color: $color-green-light;
  }
  &:hover::after {
    background-color: $color-green-light;
  }
}

@media (max-width: 1100px) {
  button {
    padding: 0;
  }
  .button--one {
    &:hover {
      &:before {
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
        transition: unset;
      }
      &:after {
        top: unset;
        bottom: unset;
        left: unset;
        right: unset;
        transition: unset;
      }
    }
  }
}

@media (max-width: 830px) {
  .go-to-btn {
    font-size: 2rem;
    margin-top: 3rem;
    &::after {
      width: 13rem;
    }
  }
}

@media screen and (max-width: 524px) {
  button {
    padding: 0;
    font-size: 1.8rem;
  }
}
