@font-face {
  font-family: mainFont;
  src: url("../fonts/smooth_line_7.ttf");
}
.header {
  font-family: "Saira", sans-serif;
  width: 100%;
  margin: 0 auto;
}
.navbar {
  height: 13vh;
  width: 82%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  z-index: 1200;
  justify-content: space-between;

  &__logo {
    font-family: mainFont;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: $color-white;
    span {
      &:last-child {
        transform: rotate(180deg);
      }
    }
  }
}

@media screen and (max-width: 524px) {
  .navbar {
    height: 10vh;
    width: 95%;
    justify-content: space-around;

    &__logo {
      font-size: 3.5rem;
      font-weight: 600;
    }
  }
}
@media screen and (max-width: 390px) {
  .navbar {
    width: 92%;
    margin-top: 1rem;
    justify-content: space-between;

    &__logo {
      font-size: 3rem;
    }
  }
}
