.projects-page {
  display: flex;
  width: 82%;
  margin: 0 auto;
  flex-direction: column;
  padding: 5rem 0;
  position: relative;
  div.backBtn {
    width: 13rem;
    left: 0%;
    top: 3%;
    background-color: #f4f4f4;
    transition: all 0.4s ease;
    position: absolute;
    cursor: pointer;
    z-index: 500;
  }

  span.line {
    bottom: auto;
    right: auto;
    top: auto;
    left: auto;
    background-color: $color-green-light-2;
    border-radius: 10px;
    width: 100%;
    left: 0px;
    height: 2px;
    display: block;
    position: absolute;
    transition: width 0.2s ease 0.1s, left 0.2s ease, transform 0.2s ease 0.3s,
      background-color 0.2s ease;
  }

  span.tLine {
    top: 0px;
  }

  span.mLine {
    top: 1.3rem;
    opacity: 0;
  }

  span.bLine {
    top: 4rem;
  }

  .label {
    color: $color-white;
    font-family: "Saira", sans-serif;
    position: absolute;
    left: 0px;
    top: 0.5rem;
    width: 100%;
    text-align: center;
    transition: all 0.4s ease;
    font-size: 2rem;
  }

  div.backBtn:hover span.label {
    left: 2.5rem;
  }

  div.backBtn:hover span.line {
    left: -1rem;
    height: 0.5rem;
    background-color: $color-white;
  }

  div.backBtn:hover span.tLine {
    width: 2.5rem;
    transform: rotate(-45deg);
    left: -1.5rem;
    top: 1.2rem;
  }

  div.backBtn:hover span.mLine {
    opacity: 1;
    width: 3.5rem;
    top: 2rem;
  }

  div.backBtn:hover span.bLine {
    width: 2.5rem;
    transform: rotate(45deg);
    left: -1.5rem;
    top: 2.8rem;
  }
  h3 {
    font-family: mainFont;
    color: $color-white;
    font-size: 6rem;
    letter-spacing: 7px;
    margin-top: 7rem;
    align-self: center;
  }
  .filter-btns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    font-family: "Saira", sans-serif;
    .filter-btn {
      border: 1px solid $color-green-matt;
      color: $color-green-matt;
      border-radius: 5px;
      margin-right: 1.8rem;
      margin-bottom: 1.8rem;
      font-size: 1.7rem;
      padding: 0.4rem 1.5rem;
      outline: none;
      transition: all 0.3 ease;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        border: 1px solid $color-green-light-2;
        color: $color-green-light-2;
      }
    }
    .btn-clicked {
      border: 1px solid $color-green-light-2;
      color: $color-green-light-2;
      border-radius: 5px;
      margin-right: 1.8rem;
      margin-bottom: 1.8rem;
      font-size: 1.7rem;
      padding: 0.4rem 1.5rem;
      outline: none;
      transition: all 0.3 ease;
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .projects {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(40rem, max-content));
    gap: 5rem;
    margin-top: 5rem;
    .project-border {
      background-color: rgba(65, 65, 65, 0.445);
      padding: 2px;
      clip-path: polygon(
        0% 85%,
        5% 95%,
        30% 95%,
        35% 100%,
        65% 100%,
        70% 95%,
        95% 95%,
        100% 85%,
        100% 15%,
        95% 5%,
        70% 5%,
        65% 0%,
        35% 0%,
        30% 5%,
        5% 5%,
        0% 15%
      );
      transition: all 0.3s ease;
      &:hover {
        background-color: $color-green-light-2;
      }
      .project {
        height: 25rem;
        position: relative;
        z-index: 1;
        cursor: pointer;
        clip-path: polygon(
          1% 84%,
          6% 94%,
          30% 94%,
          35% 99%,
          65% 99%,
          70% 94%,
          94% 94%,
          99% 84%,
          99% 16%,
          94% 6%,
          70% 6%,
          65% 1%,
          35% 1%,
          30% 6%,
          6% 6%,
          1% 16%
        );
        .project-content {
          position: absolute;
          z-index: 10;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 70%) 0%,
            rgba(0, 0, 0, 0.7) 100%
          );
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: all 0.3s ease;
        }
        .project-content * {
          transform: translateY(-70%);
          transition: all 0.3s ease;
          opacity: 0;
        }
        &:hover .project-content {
          opacity: 1;
        }
        &:hover .project-content * {
          opacity: 1;
          transform: translateY(0);
        }

        .overlay {
          position: absolute;
          background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 20%) 0%,
            rgba(0, 0, 0, 0.2) 100%
          );
          width: 100%;
          height: 100%;
          z-index: 7;
        }
        &__img {
          position: absolute;
          z-index: 4;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        &__title {
          text-align: center;
          z-index: 8;
          color: $color-white;
          font-family: "Saira", sans-serif;
          font-size: 3rem;
        }
        &__btn {
          font-family: "Saira", sans-serif;
          border: none;
          outline: none;
          color: $color-white;
          font-size: 3rem;
          display: flex;
          justify-content: center;
          align-items: baseline;
          justify-content: center;
          i {
            margin-left: 1rem;
            font-size: 2rem;
          }
          &:hover {
            color: $color-green-light-2;
          }
          &:hover i {
            margin-left: 2rem;
          }
        }
      }
    }
  }
}
@media (max-width: 1100px) {
  .projects-page {
    div.backBtn {
      left: 0%;
      top: 2%;
    }
  }
}
@media (max-width: 830px) {
  .projects-page {
    div.backBtn {
      left: 0%;
      top: 1%;
    }
    .projects {
      justify-content: center;
    }
  }
}
@media (max-width: 768px) {
  .projects-page {
    .projects {
      .project-border {
        transition: all 0.3s ease;

        &.clicked {
          background-color: $color-green-light-2;
        }
        .project {
          .project-content {
            visibility: hidden;
          }
          &.clicked {
            .project-content {
              visibility: visible;
              opacity: 1;
            }
            .project-content * {
              opacity: 1;
              transform: translateY(0);
            }
          }
          &__title {
            font-size: 2rem;
          }
          &__btn {
            font-size: 2rem;

            i {
              font-size: 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 370px) {
  .projects-page {
    h3 {
      font-size: 4rem;
      letter-spacing: 5px;
      margin-top: 6rem;
    }
    .projects {
      grid-template-columns: repeat(auto-fit, minmax(30rem, max-content));
      gap: 3rem;
      .project-border {
        .project {
          height: 20rem;
        }
      }
    }
  }
}
