.project-slider {
  display: flex;
  flex-direction: column;
  width: 82%;
  padding: 4rem 0;
  margin: 0 auto;

  &__heading {
    font-family: mainFont;
    color: $color-white;
    font-size: 7rem;
    letter-spacing: 7px;
    align-self: center;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
  }
  .slick-prev {
    left: 14rem !important;
  }

  .slick-next {
    right: 14rem !important;
  }
  .slick-arrow.slick-prev,
  .slick-arrow.slick-next {
    background: none;
    width: 5rem;
    height: 5rem;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    z-index: 90001;
  }

  .slider-arrow {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 1px solid $color-gray;
    font-size: 1.6rem;
    font-weight: 300;
    color: $color-white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    position: absolute;
    bottom: -34.5rem;

    &:hover {
      color: $color-green-light;
      transform: scale(1.5);
    }
  }

  .project-slide {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(48rem, 50%));
    align-items: center;
    justify-items: center;
    padding: 5rem 0;
    margin-top: 6rem;
    outline: none;
    overflow: hidden;

    .img-container {
      position: relative;
      display: inline-block;
      border: 1px solid $color-gray;
      width: 47rem;
      height: 47rem;
      border-radius: 50%;
      align-self: center;
      cursor: pointer;

      .animated1 {
        animation: waves 4s linear 0.1s;
      }

      .animated2 {
        animation: waves 4s linear 0.7s;
      }

      .animated3 {
        animation: waves 4s linear 1.3s;
      }

      .animated4 {
        animation: waves 4s linear 1.9s;
      }

      .svg-box {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          border-radius: 50%;
          object-fit: cover;
          height: 100%;
        }
      }

      .circle {
        display: inline-block;
        height: 100%;
        border-radius: 50%;
        width: 100%;
        background: none;
        border: 1px solid $color-gray;
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .slide-content {
      color: $color-white;
      margin-left: 4rem;
      .slide-title {
        font-family: mainFont;
        color: $color-green-light;
        font-size: 5rem;
        letter-spacing: 2px;
        font-weight: 400;
        cursor: pointer;
      }
      .slide-desc {
        font-family: "Saira", sans-serif;
        font-size: 2.1rem;
        color: $color-white;
        letter-spacing: 1.4px;
        margin-top: 1.5rem;
        line-height: 1.5;
      }
    }
  }
}

input[type="range"] {
  display: none;
}
.progressbar {
  background-color: $color-green-matt;
  height: 0.8rem;
  display: flex;
  width: 60%;
  margin-top: 6rem;
  align-self: center;
  margin-bottom: 5rem;
}
.progress {
  height: 0.8rem;
  background-color: $color-green-light;
}
.btn-slider {
  width: 16rem;
  align-self: center;
}

@media screen and (max-width: 1268px) {
  .project-slider {
    .project-slide {
      padding: 4rem;
      display: flex !important;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .img-container {
        width: 40rem;
        height: 40rem;
      }
      .slide-content {
        text-align: center;
        margin-top: 5rem;
        margin-left: 0;
        .slide-title {
          text-align: center;
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .project-slider {
    .slick-prev {
      left: 0 !important;
    }
    .slick-next {
      right: 0 !important;
    }
  }
}
@media screen and (max-width: 580px) {
  .project-slider {
    width: 92%;
    &__heading {
      font-size: 5rem;
      letter-spacing: 5px;
    }
    .slider-arrow {
      bottom: -35rem;
      &:hover {
        color: $color-green-light;
        transform: scale(1.3);
      }
    }
    .project-slide {
      padding: 2rem 0;
      .img-container {
        width: 30rem;
        height: 30rem;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .project-slider {
    &__heading {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
  }
}
