@keyframes rotating-circles-one {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes waves {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
@keyframes scaling-circles{
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.06);
  }
  100%{
    transform: scale(1);

  }

}
