.green-text {
  color: $color-green-light;
  font-size: 2.2rem;
}
.mt {
  margin-top: 3rem;
}
.z-top {
  position: absolute;
  font-weight: 600;
  z-index: 35;
  transform: translate(-50%, -50%);
  left: 65%;
  top: 50%;
  width: 100%;
}
.text-font {
  font-family: "Saira", sans-serif;
  font-size: 2.6rem;
  text-align: center;
  left: 50%;
}
.tags.positioned-top {
  position: absolute;
  top: -2.5rem;
  left: -5rem;
}
.tags.positioned-bottom {
  position: absolute;
  right: -5rem;
  bottom: -2rem;
}

.slick-prev::before,
.slick-next::before {
  display: none !important;
}
