.green-text {
  color: $color-green-light-2;
  font-size: 2.2rem;
}
.mt {
  margin-top: 3rem;
}
.z-top {
  position: absolute;
  font-weight: 600;
  z-index: 35;
  transform: translate(-50%, -50%);
  left: 65%;
  top: 50%;
  width: 100%;
}
.text-font{
  font-family: 'Saira', sans-serif;
  font-size: 3rem;
}
.tags.positioned-top {
  position: absolute;
  top: -2.5rem;
  left: -5rem;
}
.tags.positioned-bottom {
  position: absolute;
  right: -5rem;
  bottom: -2rem;
}