.green-text {
  color: $color-green-light-2;
}
.mt {
  margin-top: 3rem;
}
.z-top {
  position: absolute;
  font-weight: 600;
  z-index: 35;
  transform: translate(-50%, -50%);
  left: 65%;
  top: 50%;
  width: 100%;
}
