//colors
$color-main-bg: rgba(17,17,25,255);
$color-green-light: rgba(0,255,149,255);
$color-green-dark: #1d5d33;
$color-white: rgb(243, 243, 244);
$color-gray: #a6a9aa;
$color-green-matt: rgb(118, 169, 136);
$color-figure-dark: rgba(15, 29, 30, 255);
