//colors
$color-main-bg: #131820;
$color-green-light: #04dd45;
$color-green-dark: #1d5d33;
$color-white: #f3f3f4;
$color-green-light-2: #19c84a;
$color-green-light-3: #089729;
$color-gray: #a6a9aa;
$color-green-matt: #76a988;
